.JournalEntry {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin:5em;
}

.h1{
	font-size: 60px;
}


.smolje{
	width:1300px;
}



.form-control{
	width: 1140px;
	padding-left: 5px;
	position: 'absolute';
}

.editor{
	margin-right: 10em;
}

.ckeditor-editor_editable_inline {
	min-height: 500px;
}

.ck-editor__editable {
    min-height: 450px;
    min-width: 800px;
    padding-left: 20px;
}

