.wrapper {
  width: 100%;
  padding: 5rem 0;
}

.section {
  width: 100%;
  padding-top: 5rem;
}

.pprompt {
  padding-top: 10px;
  padding-bottom: 0px;
  overflow: hidden;
  height: 100%;
}

.chimges {
      display: block;
      margin-left: auto;
      margin-right: auto;
}
.chimage {
  display: block;
  margin-left: 615px;
  margin-right: auto;
}

.prompt {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.react-calendar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.daily-mood {
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  width: 1140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-mood {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-imga{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prompt:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-custom a {
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #000;
}

.journal-area {
  padding-left: 150px;
  padding-right: 150px;
}

.ck-editor__editable_inline {
  min-height: 100px;
  min-width: 150px;
}

.ck-editor__editable {
  min-height: 100px;
  min-width: 150px;
  padding-left: 10px;
}
