/* Section */
.section {
  width: 100%;
  padding: 5rem 0;
}
.section-emphasis h4 {
  font-weight: 400;
}

.btn-custom {
  color: #fff;
  padding: 0.85rem 2em;
  letter-spacing: 0.1rem;
  border-radius: 25px;
  transition: all 0.3s;
  -webkit-transition: 0.3s;
  border: 0;
  margin: 1rem 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-color: #1e8bb3;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Header */
.jumbotron {
  background: url(../../img/intro-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 16.9rem 0;
  margin: 0;
}
.header .logo {
  max-width: 80%;
  margin: 2.5rem 0;
}

/* Features */
.icon {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: #1e8bb3;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#features {
  background-color: #fff;
}

/* About */
#about img {
  width: 100%;
}

/* Footer */
#footer {
  background-color: #000;
}
#footer .text {
  color: #fff;
}
