body {
  background-color: #eaeff4;
}

.wrapper {
  background: transparent;
  padding: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signup {
  margin-top: -2.15rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(
      to bottom,
      rgba(234, 239, 244, 0.75),
      rgba(32, 32, 32, 0.2)
    ),
    url(../../img/journal-op-70.png);
  background-size: cover;
  position: relative;
}
.signup p {
  margin-bottom: 0;
}
